manifest {
	author = "Sergey Abramov"
	mainScript = "main.nf"
	defaultBranch = "main"
	name = "aligning-pipeline"
	description = "Aligning pipeline from chromatin accessbility data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


params {
	includeConfig './params.config'
}

profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			//queue = "encode4,queue0,pool,queue2,fiber-seq,bigmem,hpcz-2"
			memory = { 10.GB * task.attempt * task.attempt }
			cache = "lenient"
            maxRetries = 3
            errorStrategy = {
                (task.attempt < 4) && (task.exitStatus in 134..143) ? 'retry' : 'ignore'
            }

			beforeScript = 'module load apptainer'
			withLabel: high_mem {
				memory = { 10.GB + 20.GB * task.attempt }
				maxForks = 600
				cpus = 2
			}
            withlabel: big_mem {
                memory = { 200.GB * task.attempt }
            }
		}
        conda.enabled = true
		singularity {
			enabled = true
			autoMounts = true
		}
		executor {
			$slurm {
				queueSize = 1200
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
    }

    old_cluster {
        process {
            queue = "queue0,encode4,pool,bigmem,hpcz-2"
        }
    }

    new_cluster {
        process {
            queue = "hpcz-test,bigmem"
        }
    }
}
