manifest {
	author = "Sergey Abramov"
	mainScript = "main.nf"
	defaultBranch = "main"
	name = "aligning-pipeline"
	description = "Aligning pipeline from chromatin accessbility data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


params {
	includeConfig './params.config'
}

profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0"
			memory = { 16.GB * task.attempt }
			cache = "lenient"
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3
		}
		docker.enabled = true
		
		executor {
			$slurm {
				queueSize = 400
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
