// Expected to be a relative path
outdir = 'output'

samples_file = ""
container = "${projectDir}/aligning-pipeline.sif"

threads = 2
genome_fasta_file = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.fa"
nuclear_chroms = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.nuclear.txt"
chrom_sizes = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chrom_sizes"

// Perform peak calling with macs2
do_macs = true
save_cram_mode = "nuclear" // all
// Params for hotspots calling step
fdrs = "0.05,0.01,0.001"
save_debug = false
nuclear_chrom_sizes = "/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/mm10-encode3-male.nuclear_chrom_sizes"
mappable_bases = "/net/seq/data2/projects/ENCODE4Plus/hotspot3/mouse/blacklist_extended/mm10-encode3-male.K36.mappable_only.no_blacklist.bed.gz"

chrom_sizes_bed = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chrom_sizes.bed"
mappable = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.K36.mappable_only.bed"
centers = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.K36.center_sites.n100.nuclear.starch"
density_buckets = "/net/seq/data/genomes/ENCODE3/mm10/male/chrom-buckets.mm10-encode3-male.75_20.bed.starch "

// Spot 1
chrominfo = "/net/seq/data/genomes/ENCODE3/mm10/male/mm10-encode3-male.chromInfo.bed"
hotspots_dir = "/home/solexa/hotspot-hpc/hotspot-distr/"
readlength = 36

// Subsampling
subsampling_spot1_depth = 5000000

subsample_hotspot2_depth = 30000000