samples_file = "/net/seq/data2/projects/sabramov/ENCODE4/atac_aligning/hotspots/atac_seq_data_list.txt"
outdir = "/net/seq/data2/projects/sabramov/ENCODE4/atac_aligning/hotspots/output"
container = "${projectDir}/aligning-pipeline.sif"

threads = 2
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
nuclear_chroms = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.nuclear.txt"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"

// Perform peak calling with macs2
do_macs = true

// Params for hotspots calling step
chrom_sizes_bed = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes.bed"
mappable = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.mappable_only.bed"
centers = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.center_sites.n100.nuclear.starch"
density_buckets = "${projectDir}/data/chrom-buckets.bed.starch"

density_window_width = 75
density_step_size = 20
