samples_file = "/home/sabramov/projects/ENCODE4/aligning_playground/masterlist.0901.tsv"
outdir = "output"
readdirectory = "output"

threads = 2
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
nuclear_chroms = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.nuclear.txt"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes.bed"
mappable = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.mappable_only.bed"
centers = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K76.center_sites.n100.nuclear.starch"
density_buckets = "${projectDir}/data/chrom-buckets.bed.starch"
container = "wishabc/aligning-pipeline:0.1"

chunk_size = 16_000_000
density_window_width = 75
density_step_size = 20