// Expected to be a relative path
outdir = 'output'

samples_file = "/net/seq/data2/projects/sabramov/ENCODE4/atac_aligning/hotspots/atac_seq_data_list.txt"
container = "${projectDir}/aligning-pipeline.sif"

threads = 2
genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
nuclear_chroms = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.nuclear.txt"
chrom_sizes = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes"

// Perform peak calling with macs2
do_macs = true

// Params for hotspots calling step
hotspot2_fdr = "0.05,0.01,0.001"
chrom_sizes_bed = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.chrom_sizes.bed"
mappable = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K36.mappable_only.bed"
centers = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.K36.center_sites.n100.nuclear.starch"
density_buckets = "/home/solexa/stampipes_data/densities/chrom-buckets.GRCh38_no_alts.75_20.bed.starch"

density_window_width = 75
density_step_size = 20

// Spot 1
chrominfo = "/home/solexa/stampipes-for-encode4-plus/data/annotations/GRCh38_no_alts.chromInfo.bed"
hotspots_dir = "/home/solexa/hotspot-hpc/hotspot-distr/"
readlength = 36

// Subsampling
subsampling_spot1_depth = 5000000

subsample_hotspot2_depth = 30000000